<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %} {% comment %} {% render 'css-variables' %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

      {% render 'meta-tags' %} {% endcomment %} {% endcomment %}
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet"> 
            {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}

            <style>
              body{
                background-color: {{ settings.body_background }};
                {% comment %} font-family: {{ settings.type_primary_font.family }}, {{ settings.type_primary_font.fallback_families }}; {% endcomment %}
                font-family: 'Rubik', sans-serif;
              }
            </style>

    {{ content_for_header }}
  </head>


  <body>
    {% sections 'header-group' %}

  {{ content_for_layout }}

  </body>
</html>
