<header  class="">
  <header class="w-full  ">
    <nav id="header" class="container mx-auto h-16 flex justify-between items-center px-10 xl:w-[1320px] rounded-2xl shadow">
      <!-- Hamburger menu -->
      <div class="lg:hidden cursor-pointer" >
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" stroke-width="2.5" stroke="#000000" fill="none" class="duration-300 transform transition-all" style="width: 48px; height: 48px;"><path d="M7.68 32h48.64M7.68 15.97h48.64M7.68 48.03h48.64"></path></svg>
        </span>
      </div>
      <!-- Left Menu -->
      <div class="hidden lg:flex items-center gap-10 text-sm font-medium">
        <ul class="flex items-center gap-10 text-sm font-medium">
          {%- for nav in linklists['main-menu'].links -%}
            <li class="relative group">
              <a href="/#" class="flex justify-center items-center text-[#232321] text-base font-semibold hover:underline">
                {{ nav.title }}
                <img src="{{ 'icon-menu-arrow.png' | asset_url }}" alt="Arrow" class="w-3 h-3 mr-5">
              </a>
              
              {%- if nav.links != blank -%}
                <ul class="absolute left-0 mt-2 w-40 bg-white shadow-lg rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-200 z-10">
                  {% for subNav in nav.links %}
                               <li><a href="{{ subNav.url }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{ subNav.title }}</a></li>
              {% endfor %}
                 
                  {% comment %} <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Bottoms</a></li>
                  <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Accessories</a></li> {% endcomment %}
                </ul>  
              {%- endif -%}
              
              
            </li>
          {% else %}
            <li>
              <a href="/#" class="text-[#232321] text-base font-semibold hover:underline"> New Drops 🔥 </a>
            </li>

            <!-- Men Dropdown -->
            <li class="relative group">
              <a href="/#" class="flex items-center text-[#232321] text-base font-semibold hover:underline">
                Men
                <img src="{{ 'icon-menu-arrow.png' | asset_url }}" alt="Arrow" class="w-3 h-3 mr-5">
              </a>
              <ul class="absolute left-0 mt-2 w-40 bg-white shadow-lg rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-200 z-10">
                <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Tops</a></li>
                <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Bottoms</a></li>
                <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Accessories</a></li>
              </ul>
            </li>

            <!-- Women Dropdown -->
            <li class="relative group">
              <a href="/#" class="flex items-center text-[#232321] text-base font-semibold hover:underline">
                Women
                <img src="{{ 'icon-menu-arrow.png' | asset_url }}" alt="Arrow" class="w-3 h-3 ml-1">
              </a>
              <ul class="absolute left-0 mt-2 w-40 bg-white shadow-lg rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-200 z-10">
                <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Dresses</a></li>
                <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Shoes</a></li>
                <li><a href="/#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Accessories</a></li>
              </ul>
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <!-- Logo -->
      <div class="flex justify-center items-center">
        <a href="/#">
          {% if section.settings.logo != blank %}
            {{
              section.settings.logo
              | image_url: width: 200
              | image_tag: class: 'block w-full h-full object-center object-cover cursor-pointer'
            }}
          {% else %}
            <img
              class="block w-full h-full object-center object-cover cursor-pointer"
              src="{{ 'icon-logo.svg' | asset_url }}"
              alt="Logo Image"
              width=""
              height=""
            >
          {% endif %}
        </a>
      </div>

      <!-- Right Icons -->
      <div class="flex items-center gap-6">
        <!-- Search -->
        <button class="hover:text-gray-600">
          <a href="/#">
            <img
              class="block w-full h-[28px] w-[28px] object-center object-cover cursor-pointer"
              src="{{ 'icon-search.svg' | asset_url }}"
              alt="Search-icon Image"
              width=""
              height=""
            >
          </a>
        </button>

        <!-- User -->
        <button class="hover:text-gray-600">
          <a href="/#">
            <img
              class="block w-full h-[24px] w-[24px] object-center object-cover cursor-pointer"
              src="{{ 'icon-user.svg' | asset_url }}"
              alt="Profile-image"
              width=""
              height=""
            >
          </a>
        </button>

        <!-- Cart -->
        <div class="">
          <a href="/#">
            <span class="bg-[#FFA52F] text-black text-xs font-bold w-[32px] h-[32px] rounded-full flex items-center justify-center"
              >0</span
            >
          </a>
        </div>
      </div>
    </nav>
  </header>
</header>

<style>
  #header{
    background-color: {{ section.settings.color_scheme.settings.background }};
    color: {{ section.settings.color_scheme.settings.text }};
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "Logo",
      "label": "Logo"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose your color scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
